.profile 
  .glyphicon.glyphicon-user
  = "#{@user.full_name} (#{@user.email})"

  - if @user.has_role?(:manager)
    %h1 
      Your Team
    = render partial: 'volunteers_list'
    %hr

  - if @user.has_role?(:volunteer)
    %h1
      Your Clients
    By Priority
    %p
    = render partial: 'clients_list', locals: {user: @user}

    %h1
      Your Past Actions

    = text_field_tag :action_desc, nil, placeholder: 'Enter New Action', size: 50
    = button_tag 'Add To Your Record', id: 'add_action'

    %hr
    = render partial: 'actions_list', locals: {user: @user}
