.clients
  %h3
    Client Record MR Number 
    = @client.mr_number

  = "#{@client.first_name} #{@client.last_name}"

  .section-title
    Forms entered for this client

  %ol
    = render partial: 'form_entries/entry_list', locals: {entries: @forms}
