.clients

  .section-title
    // Holding this for the Javascript on this page.
    .client_info{'data-client-id' => @client.id}
    %span.large-font.bold-font
      Client:
      = "#{@client.first_name} #{@client.last_name}"
    = "(MR Number: #{@client.mr_number ? @client.mr_number : 'No MR number recorded!'})"

  - if current_user.has_role? :manager
    .dropdown
      %button.btn.btn-default.dropdown-toggle{'type' => 'button', 'data-toggle' => "dropdown"}
        Case Contact:
        %span.case-contact-name
          = @client.case_contact.full_name
        %span.caret
      %ul.dropdown-menu{'role' => "menu"}
        - current_user.volunteers.each do |v|
          %li.case-contact-select{'role' => "presentation", 'data-case-contact-id' => v.id}
            %a{'role' => "menuitem", 'tabindex' => "-1"}
              = v.full_name

  .tabs
    .tab-links<>
      .tab-header.active
        %a{'tabref' => "#tab1"}
          Dashboard
      .tab-header
        %a{'tabref' => "#tab2"}
          Forms
      .tab-header
        %a{'tabref' => "#tab3"}
          Profile
      .tab-header
        %a{'tabref' => "#tab4"}
          Field Notes

  .tab-content
    #tab1.tab.active

      Flag for Attention:
      %input.toggle-button{'data-size' => 'large', 'name' => 'attention-flag', 'type' => 'checkbox', 'checked' => @flags[:special_attention], 'data-off-color' => 'green', 'data-on-color' => 'red', 'data-off-text' => 'Clear', 'data-on-text' => 'Flagged', 'data-link' => "/api/v1/client/#{@client.id}?api_action=toggle_client_flag&flag_name=special_attention", 'data-ref' => 'special_attention'}

      .section-title
        Other Flags
      %ul
        - @client.client_flags.each do |flag|
          - if flag.flag_config
            %li
              = "#{flag.flag_config.display_value}: #{flag.flag_value}"
          
    #tab2.tab
      // This is the current status
      .section-title
        Forms entered for this client

      = render partial: 'form_entries/entry_list', locals: {entries: @client_forms}

    #tab3.tab
      %p
        Case Contact:
        = @client.case_contact.full_name

    #tab4.tab
      = render partial: 'field_notes_list', locals: {client: @client}

      = text_area_tag :note_content, nil, cols: 100
      %button.submit-data-button{'data-link' => "/api/v1/client/#{@client.id}?api_action=add_note", 'input-ref' => 'note_content', 'append-ref' => 'dynamic-notes'}
        Add Note
