.clients
  %h3
    Client:
    = "#{@client.first_name} #{@client.last_name}"
  MR Number: 
  = @client.mr_number ? @client.mr_number : "No MR number recorded!"

  %hr
  Case Contact:
  = @client.case_contact.full_name
  %hr

  .section-title
    Forms entered for this client

  = render partial: 'form_entries/entry_list', locals: {entries: @client_forms}

  %hr
  .section-title
    Client Dashboard

  Flag for Attention:
  %span.flag.flag_special_attention
    = display_flag @flags[:special_attention]
  %button.toggle-button{'data-link' => "/api/v1/client/#{@client.id}?api_action=toggle_client_flag&flag_name=special_attention", 'data-ref' => 'special_attention'}
    Change Flag

  .section-title
    Other Flags
  %ul
    - @client.client_flags.each do |flag|
      - if flag.flag_config
        %li
          = "#{flag.flag_config.display_value}: #{flag.flag_value}"
  .section-title
    Client Notes

  = render partial: 'field_notes_list', locals: {client: @client}

  .section-title
    Add A New Note
    
  = text_area_tag :note_content, nil, cols: 100
  %button.submit-data-button{'data-link' => "/api/v1/client/#{@client.id}?api_action=add_note", 'input-ref' => 'note_content', 'append-ref' => 'dynamic-notes'}
    Add Note
