.clients
  %h3
    Client:
    = "#{@client.first_name} #{@client.last_name}"
  MR Number 
  = @client.mr_number

  %hr
  Case Contact:
  = @client.case_contact.full_name
  %hr

  .section-title
    Forms entered for this client

  = render partial: 'form_entries/entry_list', locals: {entries: @client_forms}

  %hr
  .section-title
    Client Dashboard

  Flag for Attention:
  %span.flag.flag_special_attention
    = display_flag @flags[:special_attention]
  %button.api-button{'data-link' => "/api/v1/client/#{@client.id}?api_action=toggle_client_flag&flag_name=special_attention", 'data-ref' => 'special_attention'}
    Change Flag

  .section-title
    Other Flags
    %ul
    - @client.client_flags.each do |flag|
      - if flag.flag_config
        %li
          = "#{flag.flag_config.display_value}: #{flag.flag_value}"
