.forms
  .form-header
    = image_tag 'find_logo.png', alt: "Family Information Navigation Desk"
    %h2 
      Form:
      = @view_info[:form_structure].form_name

  = form_tag "/form_entries" do
    = hidden_field_tag :form_structure_id, @view_info[:form_structure].id
    = hidden_field_tag :client_id, '-1'
    = fields_for(@client) do |c|
      = c.label :last_name, "Last Name:"
      = c.text_field :last_name, class: 'autocomplete'
      = c.label :first_name, "First Name:"
      = c.text_field :first_name, class: 'autocomplete'
      = c.label :mr_number, "MR #:"
      = c.text_field :mr_number
      = c.fields_for :form_tracking_ids do |ft|
        = ft.label :tracking_id, "Enrolment ID:"
        = ft.text_field :tracking_id, class: 'enrolment-id', value: "EED#{ENV['COMPUTER_NAME']}0000", readonly: true

    %hr

    - @form_questions.each do |fq|
      = label_tag "multiple_choice_entries[#{fq[:id]}]", fq[:display_value]
      = select_tag "multiple_choice_entries[#{fq[:id]}]", options_for_select(fq[:choices_array], multiple: (fq[:type]=='multiple_choice'))
      %hr
      
    = submit_tag "Done"


